$body-color: rgb(219, 214, 214);
$secondary: rgba(24, 24, 24, 0.959);
$nav-link-font-size: 20px;
$input-bg: rgba(0, 0, 0, 0.75);
$card-title-color: black;
$card-color: black;
$list-group-action-hover-color: #fa7e1e;

body{
  background-image: url('https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-mage-fire.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
  
}


.navbar-brand {
  margin-left: 150px;
}

.card-text{
  color: black;
  margin-bottom: 10px;
}
.container-fluid {
  padding: 0 10px;
}

.heading{
  margin-top: 150px;
}

.form-control{
  background-color: black;
}

@import '../../node_modules/bootstrap/scss/bootstrap';


